body {
    font-family: "Roboto", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    background-color: white;
}

.wrapper1 {
    display: grid;
    row-gap: 5%;
    height: 200px;
    width: 100%;
    grid-template-columns: 5% 65% 25% 5%;
    grid-template-rows: 50px;
    grid-template-areas:
        'bx bx bx bx';



    .box1 {
        grid-area: bx;
        line-height: 10px;
        padding-left: 10px;
        background-color: #2980b9;
    
    

    }

    foot
}

